/* Author: Nicholas Le
   Date: 08/20/19
*/

/* Header Styles */
.card-header {
    text-align: center;
}

/* body div styles */
 #experience {
    height: 60vh;
    padding-top: 55px;
  }
  
 #about, #education, #skills{
      height: 50vh;
      padding-top: 55px;
  }




/* Nav Styles */
nav > ul > li > a.nav-link:visited,
nav > ul > li > a.nav-link:link {
    color: #696969;
    text-decoration: none;
    font-size: 1.4vw;
}

nav > ul > li > a.nav-link:hover,
nav > ul > li > a.nav-link:active {
    color: #000;
    text-decoration: underline;
}

/* form styles */
.send-button button[type="submit"]{
	color: #fff;
  background: #e74c3c;
  border: none;
	width: 20%;
	padding: 10px 0;
	font-size: 20px;
	text-transform: uppercase;
	transition: .5s all ease;
  cursor: pointer;
}

/* footer styles */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  position: relative;
  height: 150px;
  background-color: #999999;
}

.navbar-left {
  display: inline-block;
  text-align: center;
}

footer a{
    color: #222;
}

footer a:hover{
    color: #ffffff;
    text-decoration: none;    
}
.social:hover {
     -webkit-transform: scale(1.0);
     -webkit-transition-duration: 0.5s;
 }
 .social {
     -webkit-transform: scale(0.8);
     color: #222;
     
 }
 .phone{
   visibility: hidden;
}