/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
 
}
 
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
}
 
/* Extra large devices (large desktops, 1300px and up) */
@media (min-width: 1300px) {
    div{
        clear: both;
        content: "";
        
    }
    #about{
        padding-top: 50px;
        margin-bottom: 0px;
        height: 70vh;
        background-color: #40A0E0;
        position: relative;
      }
    div#education{
        color: #FFFFFF;
        padding-top: 0px;
        background-color: #E040A0;
        height: 120vh;
        position: relative;
      }  
    section#skills{
        height: 60vh;
        position: relative;
      }
      img#portfoliopic {
        vertical-align: middle;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
}